################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OD-authorize-authenticate/.vs/OD-authorize-authenticate
/OD-authorize-authenticate/bin/Debug/netcoreapp3.1
/OD-authorize-authenticate/obj/Debug/netcoreapp3.1/staticwebassets
