################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OD-authorize-authenticate/.vs/OD-authorize-authenticate
/OD-authorize-authenticate/bin/
/OD-authorize-authenticate/obj/

