<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"] - OD projekt</title>
    <link rel="stylesheet" href="@Url.Content("~/css/styleAdmin.css")" />
</head>
<body>
    <div style="width: 100%; background-color: #383f51 ">
        <div class="header">
            
            @if (ViewData["username"] != null)
            {
                <div class="header_welcome">
                    Welcome
                </div>
                <div class="header_username">
                    @ViewData["username"]
                    
                </div>
                <div class="header_logout">
                    <a href="/Home/Logout"> Logout </a>
                </div>
            }
            else
            {
                <div style="width:55%"></div>
            }
        </div>
    </div>

    <div class="main_frame">
        <div class="main flex_column">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
    </div>
</body>
</html>
