/*
    OLD COLORS
    Blue 500 - #2196f3
    Blue 50 - #f7f7ff
    Orange 700 - #ea526f
    Orange 900 - #ea526f
    Yellow 300 - #fcff4b
    Light Green 800 - #558b2f
    Light Green 900 - #33691e
    Amber 700 - #ffa000
    Amber 900 - #ff6f00
*/

/*
    NEW COLORS
    Blue - # 2196f3
    Dark Blue - # 0d47a1
    Very Light Blue - # e1f5fe
    Charcoal - # 383f51
    Yellow - # fcff4b
    White - # f7f7ff
    Light Green - # 20fc8f
    Dark Green - # 026433
    Pink - # ea526f
*/


*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

div.header 
{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content:center;
    align-items:center;
    height: 50pt;
}

div.header_lightence {
    margin-left: 18%;
    margin-right: auto;
}

div.header_welcome 
{
    color: #f7f7ff;
    font-size: 12pt;
    margin-left: auto;
    margin-right: 2%;
}

div.header_username {
    color: #fcff4b;
    font-size: 12pt;
    padding: 15pt 0pt;
    margin-right: 2%;
}

ul.header_arrow_menu {
    margin-top: 14pt;
    display: none;
    position: absolute;
    color: #fcff4b;
    font-size: 12pt;
    background-color: #383f51f0;
    min-width: 120pt;
    z-index: 999;
    float: right;
    transform: translateX(10%);
}

ul.header_arrow_menu li 
{
    padding: 12pt 20pt;
    list-style: none;
    color: #f7f7ff;
    width: auto;
}

div.header_username:hover ul.header_arrow_menu
{
    display:block;
}

div.header_logout {
    color: #f7f7ff;
    font-size: 12pt;
    font-weight: bold;
    background-color: #2196f3;
    border-radius: 3pt;
    padding: 6pt;
    margin-right: 18%;
}

div.main_frame
{
    display:flex;
    justify-content:center;
}

div.main
{
    width: 60%;
    justify-content: start;
    margin-top: 30pt;
    margin-bottom: 30pt;
    min-height: 350pt;
}

div.main_content{
    display: flex;
    flex-direction: unset;
    flex-flow: wrap;
}

div.item_container {
    justify-content: space-between;
    margin: 5pt;
    padding: 10pt;
    flex-basis: 0;
    background-color: #f7f7ff;
    border-radius: 4pt;
}

div.container_align_center {
    align-items: center;
}

div.item_container.list{
    justify-content: start;
}

div.form_unit
{
    display:flex;
    justify-content:center;
}

div.form_element 
{
    display: flex;
    padding: 15pt;
    justify-content: center;
    padding-left: 0pt;
    padding-right: 0pt;
}

div.error_info {
    display: flex;
    justify-content: center;
    color: #ea526f;
    font-size: 12pt;
}

div.button {
    border: none;
    width: 110pt;
    background-color: #383f51;
    color: #f7f7ff;
    height: 30pt;
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.footer {
    width: auto;
    background-color: #383f51;
    color: #f7f7ff;
    padding: 30pt;
    display: flex;
    justify-content: center;
}

/*Other than div*/

h2 {
    padding: 20pt;
    padding-top: 5pt;
    font-size: 20pt;
    color: #383f51;
    justify-content: center;
    display: flex;
}
h3
{
    padding: 10pt;
    font-size: 16pt;
    color: #383f51;
}

p.info {
    color: #2196f3;
    font-size: 24pt;
    padding-left: 10pt;
}

input.text_input {
    padding-bottom: 5pt;
    margin: 5pt;
    margin-bottom: 0;
    border: none;
    border-bottom: solid 2pt #2196f3;
    width: 170pt;
    font-size: 12pt;
}

input.submit {
    border: none;
    width: 80%;
    background-color: #383f51;
    color: #f7f7ff;
    height: 30pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    font-size: 12pt;
}

input.reverse_color {
    background-color: #f7f7ff;
    color: #383f51;
    border: solid 2pt #383f51;
}

a:hover, a:active, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}



rect.bar_chart {
    fill: #2196f3;
}

rect.chart{
    color:white;
}

ul.list_user {
    list-style-position: inside;
    list-style-type: disc;
}

ul.list_user li 
{
    padding-left: 10pt;
    color:#212121;
    font-weight:bold;
    padding-bottom:5pt;
}

/*all classes managing view rendering*/

.flex_row
{
    display:flex;
    flex-direction:row;
}

.flex_column {
    display:flex;
    flex-direction:column;
}

@media screen and (max-width: 1000px) {

    div.main {
        width: 85%;
    }
    div.header_lightence
    {
        margin-left:5%;
    }

    div.header_logout {
        margin-right: 5%;
    }
}