@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin Page";
    ViewData["username"] = Context.User.Identity.Name;
}

<h1>Admin home page</h1>
<p>This is administrator page, only authorized people with specified roles can see this page</p>
<p>This page require "Admin" role, others users will be redirected to login page</p>